/* src/pages/LobbyPage.css */
.lobby-container {
    text-align: center;
  }
  
  .code-block-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .code-block-item {
    margin: 10px;
    padding: 40px; /* Increased padding for larger blocks */
    background-color: pink;
    border-radius: 8px;
    width: 250px; /* Increased width */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.5em; /* Increased font size */
  }
  
  .code-block-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.0em; /* Increased font size */
  }
  